@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

.App {
  font-family: 'Fira Code', monospace;
}

Body {
  background: linear-gradient(-45deg, #2c0b01, #010123, #003145, #adb1c9);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  color: white;
  margin: 0;
}

